body {
    background-color: deepskyblue;
    font-family: 'Courier New', Courier, monospace;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color: darkslategray;
    font-weight: bold;
}

#you-win, 
#win-win,
#game-over,
#tryAgain { 
    display: none;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    animation: blinker 1s linear infinite;
    }
    
    @keyframes blinker {
    50% {
        opacity: 0;
    }
  }


footer {
    text-align: center;
    vertical-align: bottom;
    padding-top: 30px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}
#currentWord {
    letter-spacing: 10px;
}
audio {
    bottom: 0%;
    height: 80%;

}

.container {
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

button, .display1, .row, .panel {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
